#p2 .front-content .row:first-child {
    height: 40%;
} 

#p2 .front-content .row:nth-child(2) {
    margin-top: 10px;
    height: 60%;
} 

#p2 .front-content .row:first-child div{
    background-image: url('../img/VT (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}

#p2 .front-content .row:nth-child(2) div:first-child {
    background-image: url('../img/VT (2).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}

#p2 .front-content p {
    padding: 20px;
}

#p2 .back-content p {
    position: absolute;
    z-index: 1000;
}

#p2 .back-content p:nth-child(4) {
    top: 80px;
    right: 50px;
    width: 150px
}

#p2 .back-content p:nth-child(5) {
    left: 50px;
    bottom: 80px;
    width: 150px
}

#p2 .back-content {
    background-color: bisque;
}

#p2 .back-content .VT {
    width: 30%;
    height: 50%;
    background-image: url('../img/VT (3).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
}

#p2 .back-content .VT:first-child {
    top: 50px;
    left: 50px;
}

#p2 .back-content .VT:nth-child(2) {
    background-image: url('../img/VT (4).jpg');
    bottom: 50px;
    right: 50px;
}

#p2 .back-content img {
    position: absolute;
    height: 52%;
    width: auto;
}

#p2 .back-content img:first-child {
    top: 50px;
    left: 50px;
}

#p2 .back-content img:nth-child(2) {
    bottom: 50px;
    right: 50px;
}

#p2 .back-content h1 {
    position: absolute;
    transform: rotate(90deg);
    color: #FFBF00;
}


@media screen and (min-width: 375px) and (max-width: 500px), (min-width: 701px) and (max-width: 1000px) {
    #p2 .front-content p {
        padding: 10px;
        font-size: small;
    }

    #p2 .back-content p:nth-child(4) {
        top: 50px;
        right: 40px;
        width: 130px
    }
    
    #p2 .back-content p:nth-child(5) {
        left: 50px;
        bottom: 50px;
        width: 130px
    }
}

@media screen and (max-width: 375px), (min-width: 501px) and (max-width: 700px) {
    #p2 .front-content p {
        padding: 10px;
    }

    #p2 .back-content .VT:first-child {
        top: 10px;
        left: 10px;
    }
    
    #p2 .back-content .VT:nth-child(2) {
        bottom: 10px;
        right: 10px;
    }

    #p2 .back-content p:nth-child(4) {
        top: 25px;
        right: 5px;
        width: 90px
    }
    
    #p2 .back-content p:nth-child(5) {
        left: 10px;
        bottom: 25px;
        width: 100px
    }
}