#p8 .front-content {
    padding: 0;
    /*background-color: #fa5456;*/
}

#p8 .front-content > .row {
    height: 60%;
    background: url('../img/background HN.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
}

#p8 .front-content > .row .row, #p8 .back-content > .row{
    height: 33.3%;
}

#p8 .front-content > .row .row {
    background-image: url('../img/HN (10).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-self: flex-end;
}

#p8 .front-content > .row .row:nth-child(2) {
    background-image: url('../img/HN (11).jpg');
    align-self: center;
}

#p8 .front-content > .row .row:nth-child(3) {
    background-image: url('../img/HN (12).jpg');
    align-self: flex-start;
}

#p8 .front-content p {
    position:absolute;
    top: 80px;
}


#p8 .back-content > .row:first-child > div:nth-child(1), #p8 .back-content > .row:first-child > div:nth-child(2),
#p8 .back-content > .row:nth-child(3) > div:nth-child(1), #p8 .back-content > .row:nth-child(3) > div:nth-child(2),
#p8 .back-content > .row:nth-child(3) > div:nth-child(3) {
    background-image: url('../img/HN (5).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

#p8 .back-content > .row:first-child > div:nth-child(2) {
    background-image: url('../img/HN (6).jpg');
}

#p8 .back-content > .row:nth-child(3) > div:nth-child(1) {
    background-image: url('../img/HN (7).jpg');
}

#p8 .back-content > .row:nth-child(3) > div:nth-child(2) {
    background-image: url('../img/HN (8).jpg');
    background-position: left center;
}

#p8 .back-content > .row:nth-child(3) > div:nth-child(3) {
    background-image: url('../img/HN (9).jpg');
    background-position: left center;
}

@media screen and (min-width: 375px) and (max-width: 500px), (min-width: 701px) and (max-width: 1000px) {
    #p8 .front-content p {
        top: 30px;
    }
}

@media (max-width: 375px), (min-width: 501px) and (max-width: 700px) {
    #p8 .front-content p {
        top: 20px;
    }
}