#p17 .front-content h1:nth-child(3) {
    position: absolute;
    top: 10px;
}

#p17 .front-content h1:nth-child(4) {
    position: absolute;
    bottom: 10px;
    right: 20px;

}

#p17 .front-content > .row {
    height: 70%;
}

#p17 .front-content .col-6{
    height: 100%;
}

#p17 .front-content .col-6 > * {
    height: 50%;
}

#p17 .front-content .col-6:first-child > div {
    background: url('../img/outdoor-onsen-japan.jpg') no-repeat center center;
    background-size: cover;
}

#p17 .front-content .col-6:nth-child(2) > div {
    background: url('../img/tourist-wearing-japanese.jpg') no-repeat center center;
    background-size: cover;
}

#p17 .front-content p {
    padding:10px;
}

#p17 .back-content {
    padding-right: 0;
    align-items: flex-start; 
}

#p17 .back-content h2 {
    position:absolute;
    top: 20px;
    color: pink;
}

#p17 .back-content h1, #p18 .front-content h1 {
    position: absolute;
    font-size: 48px;
    transform: rotate(10deg);
}

#p17 .back-content h1 {
    right: 20px;
    top: 220px;
}

#p18 .front-content h1 {
    bottom: 148px;
    left: 8px;
}

#p18 .front-content h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: pink;
}

@media screen and (min-width: 375px) and (max-width: 500px), (min-width: 701px) and (max-width: 1000px) {
    #p17 .back-content h1 {
        left: 120px;
        top: 150px;
        font-size: 38px;
    }

    #p18 .front-content h1 {
        left: 8px;
        top: 210px;
        font-size: 38px;
    }

    #p18 .front-content h2 {
        position: absolute;
        bottom: 20px;
        left: 30px;
        color: pink;
    }
}

@media (max-width: 375px), (min-width: 501px) and (max-width: 700px) {
    #p17 .back-content h1 {
        top: 80px;
        font-size: 22px;
    }

    #p18 .front-content h1 {
        left: 8px;
        top: 120px;
        font-size: 22px;
    }
}