#p11 .front-content {
    background-image: url('../img/Da Nang.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}


#p11 .front-content h1{
    color: #f1af33;
}
#p11 .front-content h2 {
    font-size: 50px;
    position:absolute;
    color: #fbe7d5;
    bottom: 20px;
    right: 20px;
    transform: rotate(-40deg);
}

#p11 .back-content h2 {
    font-size: 90px;
}


#p11 .back-content {
    padding-right: 0;
}


#p11 .row, #p12 .row {
    height: 33.3%;
    margin: 2px;
}

#p11 .col-4 {
    background: url('../img/Mui Ne.jpg') no-repeat center center;
    background-size: cover;
}

#p11 .back-content > .row:nth-child(2) .col-4:first-child, #p11 .back-content > .row:nth-child(2) .col-4:nth-child(3) {
    background-image: none;
}

#p11 .back-content > .row:nth-child(3) .col-4:first-child {
    background-image: url('../img/Hai Phong.jpg')
}

#p11 .back-content > .row:nth-child(3) .col-4:nth-child(2) {
    background-image: url('../img/VN.jpg')
}

#p11 .back-content > .row:nth-child(3) .col-4:nth-child(3) {
    background-image: url('../img/Phu Quoc.jpg')
}

#p11 .back-content .row:first-child div:nth-child(1) {
    background-image: url('../img/Hue.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    height: 208%;
    align-self: flex-start;
    margin-top: 0px;
}

#p11 .back-content .row:first-child div:nth-child(2) {
    background-image: url('../img/Nha Trang.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: left center;
    height: 100%;
}

#p11 .back-content .row > *, #p12 .front-content .row > * {
    margin: 2px;
    height: 100%;
}



