#p7 .front-content h1 {
    position:absolute;
}

#p7 .front-content h1:nth-child(2) {
    top: 120px;
    right: 100px;
}

#p7 .front-content h1:nth-child(3) {
    right: 100px;
    bottom: 120px;
}

#p7 .front-content img:first-child {
    position: absolute;
    height: 80%;
    width: auto;
    left: 0;
}

#p7 .back-content .row {
    height: 50%;
}

#p7 .back-content .row:first-child {
    align-items: flex-end;
}

#p7 .back-content .row:nth-child(2) {
    align-items: flex-start;
}


#p7 .back-content > .row:first-child > div:nth-child(2) > div:first-child, #p7 .back-content > .row:first-child > div:nth-child(2) > div:nth-child(2),
#p7 .back-content > .row:nth-child(2) > div:nth-child(2) > div:nth-child(1), #p7 .back-content > .row:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    background-image: url('../img/HN (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120%;
    margin: 8px;
    align-self: flex-end;
    z-index: 1;
}

#p7 .back-content > .row:first-child > div:nth-child(2) > div:nth-child(2) {
    background-image: url('../img/HN (2).jpg');
    align-self: flex-end;
}

#p7 .back-content > .row:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    background-image: url('../img/HN (3).jpg');
    align-self: flex-start;
}

#p7 .back-content > .row:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    background-image: url('../img/HN (4).jpg');
    align-self: flex-start;
}

#p7 .back-content > div:nth-child(3) {
    position:absolute;
    z-index: 0;
    height: 200px;
    width: 100%;
    background-image: url('../img/background\ HN.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#p7 .back-content p:nth-child(4) {
    position:absolute;
    bottom: 0px;
    padding: 50px;
}

@media screen and (min-width: 375px) and (max-width: 500px), (min-width: 701px) and (max-width: 1000px) {
    #p7 .front-content img:first-child {
        height: 73%;
        width: auto;
    }

    #p7 .front-content h1:nth-child(2) {
        top: 80px;
        right: 80px;
    }
    
    #p7 .front-content h1:nth-child(3) {
        right: 80px;
        bottom: 80px;
    }

    #p7 .back-content p:nth-child(4) {
        padding: 20px;
    }
}

@media screen and  (max-width: 375px), (min-width: 500px) and (max-width: 700px) {
    #p7 .front-content img:first-child {
        height: 92%;
        width: auto;
    }

    #p7 .front-content h1:nth-child(2) {
        top: 60px;
        right: 30px;
    }
    
    #p7 .front-content h1:nth-child(3) {
        right: 30px;
        bottom: 60px;
    }

    #p7 .back-content p:nth-child(4) {
        position:absolute;
        bottom: 0px;
        padding: 10px 5px 2px 5px;
    }
}
