#p4 .front-content p {
    padding: 8px;
}
#p4 .front-content {
    justify-content: space-evenly;
}

#p4 .front-content > .row {
    height: 33.3%;
}

#p4 .front-content > .row:nth-child(2) .col-6:first-child, #p4 .front-content > .row:nth-child(3) .col-6:nth-child(2) {
    background-image: url('../img/DL (14).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}

#p4 .front-content > .row:nth-child(3) .col-6:nth-child(2) {
    background-image: url('../img/DL (15).jpg');
}

#p4 .back-content p {
    position: absolute;
}
#p4 .back-content {
    padding-right: 0;
    background-color: #d4f1ca;
}

#p4 .back-content > .row {
    height: 60%;
}

#p4 .back-content .col-6, #p4 .back-content .col-7, #p4 .back-content > .row > .col-7 > .row {
    height: 100%;
}

#p4 .back-content > .row > .col-7 > .row > div:first-child{
    height: 100%;
    background-image: url('../img/DL (9).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#p4 .back-content .col-6 .DL {
    height: 60%;
    background-image: url('../img/DL (16).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#p4 .back-content .col-6 .DL:nth-child(2) {
    height: 40%;
    background-image: url('../img/DL (17).jpg');
}

#p4 .back-content > .row > .col-7 > .row div:nth-child(2) img {
    vertical-align: middle;
}

#p4 .back-content p:nth-child(3) {
    width: 350px;
    bottom: 40px;
}

@media screen and (min-width: 375px) and (max-width: 500px), (min-width: 701px) and (max-width: 1000px) {
    #p4 .back-content p:nth-child(3) {
        width: 230px;
        bottom: 20px;
    }
    
}

@media screen and (max-width: 375px), (min-width: 501px) and (max-width: 700px) {
    #p4 .front-content p {
        padding: 3px;
    }

    /*#p4 .front-content > .row p:first-child {
        font-size: 8px;
    }*/

    #p4 .back-content p:nth-child(3) {
        width: 230px;
        bottom: 10px;
    }
}